.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
span{
    font-size: 30px;
    margin: 0 10px;
}
button{
    cursor: pointer;
    color: #ffffff;
    padding: 10px 20px;
}
.start-btn{
    background-color: green;
}
.stop-btn{
    background-color: blue;
}
.reset-btn{
    background-color: red;
}